{% extends "_template.twig" %}

{% block title %}Start
{% endblock %}
{% block content %}
	<div class="container">
		<h1>This is the homepage</h1>
		<a href="/addUser">Add new user</a>
	</div>
{% endblock %}
